PORT=3000
BASE_URL=http://localhost:3000
SESSION_SECRET=change_me_to_a_long_random_secret

DATABASE_URL=postgresql://soundhub:soundhub@127.0.0.1:5432/soundhub
PGHOST=127.0.0.1
PGPORT=5432
PGDATABASE=soundhub
PGUSER=soundhub
PGPASSWORD=soundhub

FMA_TRACKS_CSV=./data/fma/tracks.csv
FMA_GENRES_CSV=./data/fma/genres.csv
FMA_SUBSET=small
FMA_IMPORT_LIMIT=500
FMA_AUDIO_DIR=
FMA_AUDIO_PREFIX=fma_small
VK_S3_PUBLIC_BASE_URL=
FMA_PURGE_DEEZER=true
MUSICAPI_BASE_URL=
MUSICAPI_BASE_URLS=
MUSICAPI_TIMEOUT_MS=8000
MUSICAPI_RESULT_LIMIT=1
DEEZER_TIMEOUT_MS=5000
DEEZER_RESULT_LIMIT=6

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

VK_CLIENT_ID=
VK_CLIENT_SECRET=

YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=
