node_modules/
client-dist/
.cache/

.DS_Store
*.log

.env
.env.*
*.env
jnj.env
!.env.example

public/uploads/*
!public/uploads/audio/
!public/uploads/audio/.gitkeep
!public/uploads/covers/
!public/uploads/covers/.gitkeep
